@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import "variables";
@import "components/imba-table";
@import "components/questions-constructor";

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $base-font-family;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: #eee;
  color: $base-color;
  height: 100%;
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
  outline: 0;
  border: 0;
}

.editr {
  background-color: #fff;

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.wrapper {
  height: 100%;

  .main {
    height: 100%;
  }
}

.heading {
  margin-bottom: 1.5rem;

  h1 {
    margin-bottom: .5rem;
  }

  .sub-title {
    font-size: 13px;
    color: gray;
  }
}