//$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$base-font-family: 'Fira Sans Condensed', sans-serif;
$base-font-size: 1rem;

$brand-color: #4d8dff;
$primary-color: #58a7f5;
$success-color: #9BC53D;
$error-color: #C3423F;
$secondary-color: #ADB3C8;
$base-color: #211A1E;

